[2018-06-01 11:06] lauriii opened #2 "Add buildsteps for ES6 JS"
Introduce buildsteps from Drupal Core to compile ES6 to ES5.

More information on the Drupal Core process: https://www.drupal.org/node/2815083

[2018-06-01 11:12] lauriii opened #3 "Add contribution instructions"
We should add instructions how to contribute to this project.

[2018-06-01 11:12] lauriii opened #4 "Add code of conduct"
We should add code of conduct for the project.

[2018-06-01 13:44] ol0lll commented on #2
fixed by #6

[2018-06-04 07:35] #2 closed

[2018-06-15 15:33] ckrina opened #7 "Text field style update"
## Problem/Motivation
Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improved

[2018-06-15 15:46] antonellasevero opened #8 "Buttons"
Style update

[2018-06-15 16:56] ckrina commented on #4
Fixed by #5

[2018-06-15 16:56] #4 closed

[2018-06-16 15:39] antonellasevero opened #9 "Image field style update"
### Problem/Motivation
@todo short explaination about why we get here

### Proposed resolution
@todo short explanation describing main characteristics for the proposal
field
Specs: https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=654%3A6

### Remaining tasks
 Update patch styling to include time inputs

User interface changes
All image styles will be changed, no functional

[2018-06-16 15:50] antonellasevero opened #10 "File field style update"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All image styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/article
/admin/st

[2018-06-16 15:53] antonellasevero opened #11 "Breadcrumbs style update"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All breadcrumb styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/article
/adm

[2018-06-16 15:54] antonellasevero opened #12 "Pagination style update"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All pagination styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/article
/adm

[2018-06-16 15:55] antonellasevero opened #13 "Dropdown style update"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All dropdown styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/article
/admin

[2018-06-16 15:56] antonellasevero opened #14 "Dropdown and Popover style updates"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All dropdown and popover styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/ar

[2018-06-16 15:56] antonellasevero opened #15 "Select basic form control updates"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All select basic form control styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/a

[2018-06-16 15:57] antonellasevero opened #16 "Color palette update"
## Problem/Motivation

@todo short explaination about why we get here

## Proposed resolution
@todo short explanation describing main characteristics for the proposal
field

Specs:

## Remaining tasks
- [ ]  Update patch styling to include time inputs

## User interface changes
All color palette styles will be changed, no functional differences.

## Test Pages
/core/install.php
/node/add/article
/

[2018-06-18 18:04] antonellasevero opened #17 "Table style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:22] antonellasevero opened #18 "Fieldsets style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:23] antonellasevero opened #19 "Checkboxes style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:25] antonellasevero opened #20 "Tag fields style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:30] antonellasevero opened #21 "Text area style updates"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:32] antonellasevero opened #22 "Messages style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:33] antonellasevero opened #23 "Search fields style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:35] antonellasevero opened #24 "Progress style udpates"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:35] antonellasevero opened #25 "Navigation tabs style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:36] antonellasevero opened #26 "Iconography style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:37] antonellasevero opened #27 "Details and Accordion style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:38] antonellasevero opened #28 "Vertical Tabs style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:39] antonellasevero opened #29 "Overlay and Modals style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-18 18:40] antonellasevero opened #30 "Small controls style update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-06-19 13:40] ckrina opened #31 "Color palette"
@todo convert this issue into a clean up issue to check all instances of the old colors have been removed/replaced.

## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better

[2018-06-20 17:32] fuzzbomb commented on #31
Rather than just having a list of colours, for assessing contrast we need to know where the colours will be used in combination.  As in, foreground and background combinations.

[2018-06-20 17:33] fuzzbomb commented on #31
There are a lot of different grey shades here - what's the need for those?

[2018-06-20 17:39] fuzzbomb commented on #16
There are 2 colour palette issues here on GitHub - both with the same "proposed resolution" text. Can we close one of these as a duplicate, and keep the colour discussion in one place?

[2018-06-20 17:50] fuzzbomb commented on #31
There are two separate palettes on the Figma document.
One is called "palette - color story" and the other one is called "color palette - color palette".
What's the difference?  Can we combine them into one please, to avoid maintaining colours in two places.

[2018-06-20 18:07] fuzzbomb commented on #15
The designs on Figma don't include focus styles for radios, checkboxes, and toggle switches.  Those are essential for all interactive controls, and must not be by colour differences alone.

I'm not sure I understand the radio design.  There are 4 in Figma, in a grid of 2x2.  They're labelled as on, off, on hover, disabled.  But I can't tell what the radio is meant to look like when it is enabled,

[2018-06-20 18:13] fuzzbomb commented on #14
There are two issues called Dropdown styles updates (13 and 14).  Are these duplicates?

Also, what's a "popover"?  That's a term I haven't heard for input controls.

[2018-06-20 18:17] fuzzbomb commented on #13
There are two issues called Dropdown styles updates (13 and 14). Are these duplicates?

[2018-06-20 18:17] antonellasevero opened #32 "Clean up colors after changes applied"
This is a placeholder for a clean up issue for afterwards to check all instances of the old colours have been removed/replaced.

[2018-06-20 18:28] fuzzbomb commented on #8
The things called tertiary buttons don't look like buttons.  They look like links.

It would be better if buttons looked like buttons, and underlines were reserved for links.  It's important to tell those apart because they have different semantics, and different expected behaviours.

It's also important to tell links and buttons apart to avoid confusion when two users have a conversation about th

[2018-06-20 18:29] fuzzbomb commented on #8
The buttons need focus styles.  All interactive controls need those.

[2018-06-20 18:32] fuzzbomb commented on #8
Normal buttons are blue, but danger buttons are red.  These can only be distinguished by colour, which is a WCAG level A failure - [1.4.1 Use Of Color](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html).

[2018-06-20 18:37] fuzzbomb commented on #8
The "big call to action" button has a plus sign in it, like local actions on Seven.  In fact Seven hard codes the plus sign in using a style sheet, so at the moment there's an assumption that all "local actions" must be about adding stuff.  But this could be used for other tasks like "rearrange" (e.g. move to page layout manager UI).

[2018-06-20 18:58] fuzzbomb commented on #31
The error red isn't sufficient contrast.

The colour palette has #ee2222 red on white at contrast 1:4.3, and the palette indicates this is intended for large text.  Sure enough, WCAG has this compromise range, where large text is allowed contrast as low as 3:1.

The trouble with this is that the error messages in the text fields example are small text.
The "tertiary danger button" also uses this r

[2018-06-20 19:00] fuzzbomb commented on #31
I like the black text on yellow for warning.  A very "construction site" feel.  And it's hard to get a yellow that has good contrast with white text, but easy with black.

[2018-06-20 19:08] fuzzbomb commented on #31
The green #06a77d is another colour in the compromise 3:1 range for large text only.  I'd like to have a green which exceeds 4.5:1 against white, for the same reasons I gave for red.

Example: one of the text boxes ("This is the value with feedback") has a green tick in the box, same size as the text.  This probably counts as a WCAG failure, as the green only has contrast for large text.

[2018-06-20 19:19] fuzzbomb commented on #7
The error and success symbols inside the text box are nice.

The green and red only have sufficient contrast for large text, against white.  But these are regular text sized, so it would be good to have a red and green which provide 4.5:1 against white.

[2018-06-20 19:29] fuzzbomb commented on #7
Can you clarify which greys are being used on these text boxes?  Borders, labels, and small description text.  I think they use some of the "secondary" greys form the palette, but I'm not sure which ones.

Of the 4 "secondary" greys on the palette, only the darkest one has enough contrast for text:

#d4d4d8 on white - 1.47:1 - not suitable for use as text, not suitable for use as a component borde

[2018-06-20 19:34] fuzzbomb commented on #7
I'd like to see a design for required form fields.  Any, not just text fields.  Seven uses a red asterisk.

[2018-06-20 19:39] madsciencepro commented on #31
Is Drupal Blue set in stone or are we able to change it up as well?

[2018-06-20 19:45] fuzzbomb commented on #7
Help text:

There's a text box with an example of very long help/description on three lines.  It looks a little bit crowded to me.

It would be good to see an example we see an example of a description which contains a link?  There are lots of these in Drupal.

When we come to implementing this in CSS, it'll be important to test this against WCAG text size + spacing guidelines, to see how forms lo

[2018-06-20 20:08] fuzzbomb commented on #31
Looking at the fieldsets on Figma, I'm not sure they'll pass WCAG 2.1 "Non-text contrast".  There needs to be 3:1 contrast for "essential" borders of UI components.  I'm not 100% clear about this, but I think fieldsets count as essential for this new criterion.

The fieldsets are using the secondary greys as borders and drop shadows, but some of those secondary greys have less than 3:1 contrast ag

[2018-06-20 20:12] fuzzbomb commented on #31
I don't think anything's set in stone yet - we're still at a very early stage.

The palette says New Drupal Blue is intended for use as links.  It would be great to get that over the level AAA 7:1

[2018-06-20 20:17] fuzzbomb commented on #31
For little colour tweaks, like getting the red over the 4.5:1 threshold, I like a tool called Tanaguru Contrast Finder.  You stick a failing colour combination in, and get suggestions back which get you over the threshold, but are close as possible to the original colours.  It's very useful for fixing WCAG failures on websites that have already gone live.

Here, I've prepared a link which has the

[2018-06-28 13:17] ckrina commented on #7
- Changed colour for red - Now it’s 5.07:1 (#D72222)
- Changed colour for field borders - Now its 3.11:1 (#8E9292C) to comply with WCAG 2.1
- Added design for required text fields, for other kind of fields is still in the oven :)
- Augmented the line-height for descriptions, and added an example link (see in Figma)

[2018-06-28 15:48] ckrina commented on #31
Thanks @fuzzbomb ! We're handling this feedback in Figma. Most of your feedback have been addressed, but the green one is a bit blocked because the greens with good contrast on white are too dark for background and we'll need to try another solution.
I'll close this issue to try to handle Accessibility issues in Figma, Slack or on its own issue because this one doesn't need any commit.

[2018-06-28 15:48] #31 closed

[2018-06-28 16:50] denniscohn commented on #7
Just curious: what if the label is longer then "Surname"?
What is the behaviour then?

[2018-07-06 15:37] ckrina opened #33 "Replace Lucida Grande in favor of system fonts"
## Problem/Motivation
Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors.
[Wordpress dropped Open Sans](https://wptavern.com/wordpress-4-6-to-drop-open-sans-in-the-admin-in-favor-of-system-fonts) a while ago to avoid the need load fonts from Google and have a faster interface.
Also, relying on sys

[2018-07-06 15:49] denniscohn commented on #33
Found this interesting blog post by bookings.com
https://css-tricks.com/implementing-system-fonts-booking-com%e2%80%8a-%e2%80%8aa-lesson-learned/

In summary; don’t use -apple-system at the head of a shorthand font declaration,

[2018-07-10 15:02] tedbow opened #34 "Update README to define role in core admin initiative."
I am trying to catch up on the JS Admin core initiative.
I found this repo via: https://www.drupal.org/about/strategic-initiatives/admin-ui-js
which says:

but then this repo doesn't give any info on how it relates to other issues.

[2018-09-09 18:59] ckrina commented on #8
@fuzzbomb I think we've applied the suggestions you made.

[2018-09-16 14:04] saschaeggi commented on #33
Good input @denniscohn, I also already run into some troubles in implementing system fonts into a project. We opted for `font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;` to be save also for the non-shorthand.

[2018-09-20 11:00] prashant114606 commented on #8
@ckrina I am taking this up.

[2018-09-21 07:49] fuzzbomb commented on #8
@ckrina Where can I see the changes?

[2018-09-21 07:56] fuzzbomb commented on #31
@ckrina Where can I see this?

[2018-09-21 09:04] ckrina commented on #8
@fuzzbomb on Figma, the link is on the issue description: https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=656%3A491

[2018-09-25 07:26] fuzzbomb commented on #32
Is there a new set of colours yet?

[2018-09-25 07:40] fuzzbomb commented on #27
Can you clarify what you mean by accordion? It's one of those terms that gets used by different designers, but often means different things.

By details, we're talking about the HTML details/summary grouping containers, right?

The bit we should clarify is how an accordions differ from details...

- If we have a series of details containers, does that amount to an accordion...?
- ... or, is there

[2018-09-25 09:00] fuzzbomb commented on #26
Icons can be really helpful, but there are some things we should be keep in mind.

For accessibility, do not rely on icons to convey meaning (e.g. button purpose) **on their own**. They are good in combination with text labels, but some icons may be hard to understand on their own.

e.g. Drupal's current "manage content types" section has operations for each content type...

- Delete could use a w

[2018-10-03 14:41] ckrina commented on #34
Things to update on the Readme:
- [ ] Install instructions explaining how to have both default core Seven them and this one a a custom one overriding the old
- [ ] Define the role in core this initiative has.

[2018-10-03 20:08] antonellasevero opened #36 "Autocomplete Field Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:14] antonellasevero opened #37 "Progress Bar Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:28] antonellasevero commented on #13
Issue names corrected.

[2018-10-03 20:40] antonellasevero opened #38 "Entity Reference Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:49] antonellasevero opened #39 "Contextual Links Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:51] antonellasevero opened #40 "Date Field Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:58] antonellasevero opened #41 "Divider Style Updates"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 20:59] antonellasevero opened #42 "Help Style Updates"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:03] antonellasevero opened #43 "Field Cardinality Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:12] antonellasevero opened #44 "Page Title"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:16] antonellasevero opened #45 "Admin List Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:19] antonellasevero opened #46 "Table Sort Indicator Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:20] antonellasevero opened #47 "Password Field Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:22] antonellasevero opened #48 "Quick Edit Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:23] antonellasevero opened #49 "System Status Report Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:23] antonellasevero opened #50 "Operations Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-03 21:24] antonellasevero opened #51 "Throbber Style Update"
## Problem/Motivation

Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated, especially compared to our competitors, and universally cited that choosing a more modern-looking admin theme instantly led to Drupal being better-perceived by said users.
There was an amazing community effort to Create a Style Guide For Seven that vastly improve

[2018-10-29 19:09] goba commented on #8
@ckrina I looked in figma and it does not seem to resolve the non-button-ness of the tertiary buttons. Also the image above is outdated if that is resolved elsewhere :)

[2018-10-29 20:09] goba commented on #7
@ckrina hm, I looked at https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=90%3A2 for the example with the link and did not find it. I am wondering if I am looking at the right design?

[2018-10-30 09:39] zolhorvath commented on #33
![typography](https://user-images.githubusercontent.com/9197058/47709020-b69b3a00-dc2f-11e8-9fc1-c7f0fb7b62c3.png)
https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=656%3A505

I'd assume that these are the final designs.

@ckrina we need a feedback if the attachment (or/and the link) is outdated/wrong.

[2018-10-30 09:48] zolhorvath commented on #8
![buttons](https://user-images.githubusercontent.com/9197058/47709750-4ab9d100-dc31-11e8-9983-a9e08935af41.png)
[Figma hyperlink](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=656%3A491)

I'd assume that these are the final designs.

@ckrina we need a feedback if the attachment (or/and the link) is outdated/wrong.

[2018-10-30 09:50] zolhorvath commented on #7
![Input fields](https://user-images.githubusercontent.com/9197058/47709867-93718a00-dc31-11e8-8feb-6909b1a4406a.png)

[Figma hyperlink](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=2057%3A1349)

I'd assume that these are the final designs.

@ckrina we need a feedback if the attachment (or/and the link) is outdated/wrong.

[2018-10-30 09:56] zolhorvath commented on #21
![Textarea](https://user-images.githubusercontent.com/9197058/47710064-15fa4980-dc32-11e8-9fa7-a5468a80e470.png)
[Figma hyperlink](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=2061%3A1805)

I'd assume that these are the final designs.

@ckrina Are the _Needs definition_ and _Needs design_ labels still valid?

[2018-10-30 10:03] lauriii commented on #8
I agree that tertiary buttons shouldn't be buttons but links since people have different expectations about clicking a link and a button. Reading [this article](https://medium.com/simple-human/but-sometimes-links-look-like-buttons-and-buttons-look-like-links-9b371c57b3d2) helps to place the problem into perspective.

It seems like there already is a difference on markup level for these elements. E

[2018-10-30 10:03] zolhorvath commented on #15
![Radios](https://user-images.githubusercontent.com/9197058/47710584-6b832600-dc33-11e8-9e14-2f20046cd40f.png)
[Figma hyperlink](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=2061%3A2254)

I'd assume that these are the final designs.

@ckrina Are the _Needs definition_ and _Needs design_ labels still valid?

[2018-10-30 10:08] zolhorvath commented on #19
![Checkbox](https://user-images.githubusercontent.com/9197058/47710851-198ed000-dc34-11e8-8bfb-e50df09a3270.png)
![Figma hyperlink](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Design-system?node-id=2061%3A2386)

I'd assume that these are the final designs.

@ckrina Are the _Needs definition_ and _Needs design_ labels still valid?

[2018-10-30 10:16] ckrina commented on #8
@zolhorvath the attachment was meant to be just a quick overview and not the full specification to not end up with a huge screenshot pasted on a Github issue. That's why we added the Figma link. :)

[2018-10-30 10:22] kiran-kadam911 commented on #41
I am taking this up.

[2018-10-30 10:42] ckrina commented on #33
@zolhorvath No, they're not sorry. We're still defining sizes depending on a modular scale and checking on pages.
Actually, I wouldn't expect to handle font-sizes in this issue, just get rid of Lucida Grande and implement system fonts. Do you think also sizes should be faced together?

[2018-10-30 10:57] zolhorvath commented on #33
No, not necessarily. It can be handled in a separate issue as well.

[2018-10-30 12:59] zolhorvath commented on #7
(In progress)

[2018-10-30 17:30] goba commented on #8
@lauriii well, Delete needs to be a button due to how destructive it is. Unless it is a link to a delete for in which case does it need to be red? (A link in itself cannot be dangerous).

[2018-11-01 08:35] lauriii opened #58 "Create plan for *.admin.css files in core modules"
CSS in modules is supposed to be only used to build functionality, not to improve the visual look. For example `system.admin.css` contains some styles that have more to do with the visual look of the page than functionality. We should go through all the `*.admin.css` files and make a plan how to handle them in the theme.

[2018-11-01 09:45] #41 closed

[2018-11-05 10:55] ckrina commented on #19
Hi @zolhorvath ! I've just finished this one so I'd say it's safe to implement. The image you uploaded is outdated, would you like me to upload something on the main comment or is ot ok with the link to specs?

[2018-11-05 10:58] zolhorvath commented on #19
Hi @ckrina,
I think it would be useful to provide a static image as well since the Figma behind the link can change (even accidentally).

I removed the previous (outdated) one from my comment.

[2018-11-05 15:04] ckrina commented on #15
@fuzzbomb We've moved the toggle to another component, just like checkboxes. I've just updated the main comment with a quick spec with all states, but you can check further on Figma. Do you think we're covering all needed states now?

[2018-11-05 16:06] ckrina commented on #14
@fuzzbomb I think it's clearer now. We're separating it because this one might be archived with a CSS approach only, while changing the look&feel for `options` is trickier.

[2018-11-05 16:35] ckrina commented on #21
@zolhorvath I think I've updated all the info needed, both in the main comment and on Figma specs, but let me know if you find something is missing :)

[2018-11-06 12:46] saschaeggi commented on #15
@fuzzbomb @ckrina if there is still something missing let me know so I can work on it

[2018-11-09 09:21] zolhorvath commented on #33
@ckrina could you please reopen this issue?

[2018-11-09 09:36] zolhorvath commented on #33
From PR #60

In a design perspective I'm in favor of the simpler implementation where all fonts look closer between devices, but the real goal should be having them closer to the system fonts. So I'd say to actually make a decision an screenshot of the Ubuntu one where other UI elements of the system are visible would be needed.

@ckrina here they are:
[Ubuntu-font-stack-diffs-with-App-center.zip]

[2018-11-09 10:08] ckrina commented on #33
Yeah, that's exactly what I realized later on: Wordpress' approach takes into account more system fonts and is better if we want to keep the same user's font system. Thank you @zolhorvath for the extra effort, I'd go with Wordpress' stack.

[2018-11-09 11:22] zolhorvath commented on #33
In progress

[2018-11-11 12:10] #33 closed

[2018-11-11 20:09] ckrina opened #62 "Accessibility feedback round"
We've created this issue to gather a first round of accessibility feedback to be sure we don't move forward on the design system with any big accessibility issue.

## Material to review
### Pages
We have several designed components and we're composing pages with them. We're attaching those here as PNG, but you can [review them on this Figma file](https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH

[2018-11-12 08:18] kiran-kadam911 commented on #14
Taking this up.

[2018-11-12 10:07] zolhorvath commented on #14
@ckrina is multiselect design missing?

[2018-11-12 10:09] zolhorvath commented on #15
Work in progress!
Since this is strongly related to checkboxes, I'll handle them in one PR.

[2018-11-12 10:09] zolhorvath commented on #19
Work in progress!
Since this is strongly related to radios, I'll handle them in one PR.

[2018-11-12 10:50] fuzzbomb commented on #62
I'm having immense difficulty using Figma. I just don't understand how to operate it.

I think I can see some components on the figma document which aren't in the screenshots on this Github issue. Is there a red button with a blue outline?

I think the list of colour codes isn't complete.

- Are there two or three shades of red being used? The list of colours only has one.
- What's the blue shade

[2018-11-12 11:15] fuzzbomb commented on #62
The focus styles need work, they're too subtle.  I used an eyedropper, and found the pale blue focus outline is #b3c9f5.  That only has a contrast of 1.66:1 (https://contrast-ratio.com/#%23b3c9f5-on-white).

To pass WCAG success criterion 1.4.11 Non-text Contrast, the focus outline here would need to have a contrast of 3:1 against the white page background, AND also needs a 3:1 contrast against th

[2018-11-12 11:20] fuzzbomb commented on #62
On the drop-down selects, it has a style for "Active element (previously selected)".  What's that for, and how is it supposed to behave? I don't think this is something we encounter on native dropdowns in desktop OS.

[2018-11-12 12:58] ckrina commented on #14
@zolhorvath sorry, we haven't figured it out yet. Do you thing we should stop the development until we do so?

[2018-11-12 14:51] kiran-kadam911 commented on #14
Error classes in the required form field are working proper means there is a separate error class to distinguish between normal and error one but for the label, there is no such error class appearing in error case like in design.

![error](https://user-images.githubusercontent.com/6938168/48354743-6f458c80-e6b8-11e8-8cc0-a99a3905b70c.jpg)

[2018-11-12 15:01] fuzzbomb commented on #62
One of the text fields (in the screenshots here) has a warning triangle icon when it has an error message,  but elsewhere another text field has an error message without a warning triangle.  Is this intentional? There's also a select element with an error message, and that doesn't have a warning triangle.

[2018-11-12 15:03] ckrina commented on #62
Thanks you for the review @fuzzbomb !
- Are there two or three shades of red being used? The list of colours only has one.
- What's the blue shade used for the focus outlines on the buttons? It's not mentioned in the list of colour codes.
Right, and I'll update the color palette because I'm introducing similar Seven messages for now, so I have to add those colors. And the blue hover one and the se

[2018-11-12 15:34] fuzzbomb commented on #62
The error styles for the radio and checkbox:

- These are unusual. I don't recall ever seeing error styles for these anywhere else on web or desktop applications.  How are these intended to be used?
- I'm not sure what an error style means for a checked checkbox.... you shouldn't have checked it?
- and for an unchecked checkbox...?
- likewise for the radio buttons, what does the error mean for a c

[2018-11-12 15:39] fuzzbomb commented on #62
The node edit page shows a grey background inside the URL path settings group. The various focus/selected/error states will need sufficient contrast here too, not just against the white background of the main section.  Same for the primary links in the page header region.

[2018-11-12 20:02] fuzzbomb commented on #15
The error styles for radio buttons are confusing. We don't see anything like that on Desktop OS widgets, and I don't think I've seen them on any web applications either. Just making them red won't suffice, because we can't tell them apart from the normal without colour. We need to see what the whole field looks like (i.e. several radios, with their own labels, and a fieldset legend to say what the

[2018-11-21 14:46] lauriii commented on #62
I think we need to have styles available for error selected radio and checked checkbox. There are some complex use cases where that makes sense, for example when you have inputs that have validation depending on context outside the form input. And also for the checkbox, if there's a limit on how many inputs should be checked, selecting too many inputs probably should trigger that style?

[2018-11-21 15:34] ckrina commented on #8
We just went around this issue with @lauriii during today's meeting and seemed that the feedback we understood about the danger button/link was a bit different from the several conversations we had about it in several channels. Since we can't access Slack conversations here I paste 2 possible visual solutions for the _danger button_ (or maybe a new component called _danger link_ as Lauri suggested

[2018-11-22 09:54] lauriii commented on #14
@kiran-kadam911 The Seven theme seems to have a preprocess function that adds a class in case of an error to the label element. See `seven_preprocess_form_element`. 🙂

[2018-11-22 16:14] zolhorvath opened #64 "Standardize default vertical rhythm (font-size and line-height)"

[2018-11-22 16:19] zolhorvath opened #65 "Backlog: fix system-status-counter image urls"

[2018-11-22 16:21] zolhorvath commented on #64
Based on Figma, the default font size and line-height should be changed to `16px/1.5`

[2018-11-22 18:09] zolhorvath commented on #21
WIP

[2018-11-22 20:00] ckrina commented on #8
I just remembered that I created a component calling it _action link_ after the discussion we had some days ago. I've modified it's initial hover/active states to look more like a link. Does it makes more sense to you?
<img width="900" alt="captura de pantalla 2018-11-22 a les 20 58 56" src="https://user-images.githubusercontent.com/2225966/48920499-91e65b00-ee99-11e8-9fc5-d485010b17c2.png">

[2018-11-26 09:59] #65 closed

[2018-11-27 07:50] #64 closed

[2018-12-03 19:56] ckrina commented on #62
@fuzzbomb what do you think about this proposal?
![captura de pantalla 2018-12-03 a les 20 54 06](https://user-images.githubusercontent.com/2225966/49398078-99312280-f73d-11e8-911c-bd9094027247.png)

We can’t add the error icon on all fields because it would interfere with other elements like the arrow for the select and placing it outside wouldn’t work on small spaces like mobile. The design impl

[2018-12-10 15:58] zolhorvath commented on #7
@laurii pls check this!

Screenshots:
[Mobile.zip](https://github.com/drupalux/claro/files/2663814/Mobile.zip)
[OSX.zip](https://github.com/drupalux/claro/files/2663816/OSX.zip)
[Ubuntu.zip](https://github.com/drupalux/claro/files/2663817/Ubuntu.zip)
[Windows.zip](https://github.com/drupalux/claro/files/2663818/Windows.zip)

[2018-12-11 12:40] ckrina opened #70 "Navigation list style update"
## Problem/Motivation
Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated.

## Proposed resolution
Implement new **Navigation list** design to create a favorable first impression of Drupal for evaluators and a better user experience for site authors. No functional differences.

## Specification
### Quick overview
This image is just a qui

[2018-12-12 08:37] lauriii commented on #7
Reopening for remaining tasks

[2018-12-12 20:08] saschaeggi opened #71 "Toolbar style update"
## Problem/Motivation
Recent interviews and research exposed pain points around Drupal's admin experience of looking and feeling dated.

## Proposed resolution
Implement new Toolbar design to create a favorable first impression of Drupal for evaluators and a better user experience for site authors. No functional differences.

## Specification
### Quick overview
This image is just a quick overview

[2018-12-24 21:02] andypost commented on #50
It looks like it overlaps with actions & contextual links

[2019-01-02 09:04] zolhorvath opened #74 "Update Light Gray Color"
Update light gray color [(outdated: `#d4d4d8`; new: `#d8d9e0`)](https://github.com/drupalux/claro/pull/73#issuecomment-448649121).

[2019-01-02 11:07] #74 closed

[2019-01-02 11:25] zolhorvath commented on #17
@ckrina
* Figma says "not finished". Is this issue ready for development, or it's just left there?
* Table sort indicator's hover/focus/active/etc. states are unspecified (or are unclear).

[2019-01-03 12:27] ckrina commented on #17
Sorry for the confusion, I just moved the "not finished" to the Table sort indicator (#46 ), which is not ready because the states you were saying are not defined yet. But the default table styles (paddings, borders, header...) are finished.

[2019-01-03 14:19] zolhorvath commented on #17
@ckrina thanks!

[2019-01-18 18:35] fuzzbomb commented on #62
@ckrina

Yes, the button focus style is much better. The outline offset introduces an extra thin white line, so the button and focus indicator are now two separate graphic objects. This creates a stronger distinction, especially for the blue button, because there's now a _shape_ change instead of just a _size_ change.

But we'd want to be robust enough for sites where Inline Form Errors isn't enab

[2019-01-18 19:12] fuzzbomb commented on #62
@lauriii

Yes, maybe. Some examples would help. The only one I can think of right now is the "passwords don't match" error for user accounts.  I can't picture any involving radios/checkboxen, but you're probably right that there are some likely situations. But the nature of that error is conveyed in the error message.

Seven doesn't do this, and it doesn't suffer from it. The "too many" is explain

[2019-01-19 20:48] saschaeggi commented on #62
@fuzzbomb as we moved the issues over to the Drupal issue queue you'll find the new discussion here: https://www.drupal.org/project/claro/issues/3021087
And thanks for your answers!

[2020-07-25 16:46] ZjeeBie opened #76 ""sort arrow" not logical"
When using the Claro theme for administration, tables who can be sorted by column show an arrow after the column-name. This arrow is pointing upward when sorting descending, the arrow is pointing downwards when sorting ascendinding. Not very logical.
Proposed solution: arrow pointing upwards when column is sorted ascending. Arrow pointing downwards when sorted descending. Like the common behavior

[2021-04-27 15:56] thorandre opened #77 "Defining max width for text readability"
# Problem
The number of characters on each line makes a big difference on readability. The Drupal admin interface should provide a maximum line length for content that potentially go across the full screen. This is becoming extra problematic on newer large screens with high resolution.

# Best practices and UX guidelines
This is an area where there are no hard limits, but most UX experts seems to

[2021-04-27 21:21] shaal commented on #77
Hi @thorandre, I think this repo is no longer active.
Now that Claro is in core, all issues and updates happen on Drupal.org website.

Here are all related issues, perhaps a new one should to created?
https://www.drupal.org/project/issues/drupal?text=+max+width&status=All&component=Claro+theme